*{
	
	margin: 0;
	padding: 0;
}

body{
	
	background: rgb(28, 52, 48);
	font-size: 14px;	

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

}

.container{
	
	width: 80%;
	margin: 50px auto;
	color: #fff;
}

.contact-box{
	
	background: #fff;
	display:flex
	}
	
	
.contact-left{
	
	flex-basis: 60%;
	padding: 40px 60px;
	
	}

.contact-right{
	
	flex-basis: 40%;
	padding: 40px;
	background: #009688;
	color: #fff;
	}
	
	h1{
		margin-bottom: 10px;
	}
	
.container p{
	
	margin-bottom: 40px;
}

.input-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.input-row .input-group{
	
	flex-basis: 45%;
	}
	
input{
	width: 100%;
	
border: none;
border-bottom: 1px solid #ccc;
outline: none;
padding-bottom: 5px;


}
	
button{
	
	background: #009688;
	width: 100px;
	border: none;
	outline: none;
	color: #fff;	
	height: 35px;
	border-radius: 30px;
	margin-top: 20px;
	box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
	
	
}

.contact-left h3{
	
	color: #009688;
	font-weight: 600;
	margin-bottom: 30px;
}


.contact-right h3{
	
	font-weight: 600;
	margin-bottom: 30px;
}

tr td:first-child{
	
	padding-right: 20px;
	
}


tr td{
	
	padding-top: 20px;
}



footer {
  background-color: #009688;
  width: 100%;
  height: 300px; /* Set a fixed height for the footer */
}

.footercontainer {
  width: 100%;
  padding: 70px 30px 20px;
}


.socialicons{
	display: flex;
	justify-content: center;
}

.socialicons a {
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  width: 35px; /* Set a smaller fixed width for the circle */
  height: 35px; /* Set a smaller fixed height for the circle */
}


.socialicons a i{
	
	font-size: 2em;
	color: black;
	opacity: 0.9;
}
.socialicons a:hover{
	background-color: #111;
	transition: 0.5s;
}

.socialicons a i:hover{
	color: #fff;
	transition: 0.5s;
}

.footnav{
	margin: 30px;
}

.footnav ul{
	display: flex;
	justify-content: center;
	list-style-type: none ;
}

.footnav ul li a{
	color: #fff;
	margin: 20px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;
}

.footnav ul li a:hover{
	
	opacity: 1;
}


.footerbottom{
	background-color: #009688;
	padding: 20px;
	text-align: center;
	
	}
	
.footerbottom p{
	color: #fff;
}

@media(max-width: 700px){
	.footnav ul{
		flex-direction: column;
	}
	.footnav ul li{
		width: 100%;
		text-align: center;
		margin: 10px;
		
	}
}


button:hover span{
	
	width: 100%;
	
}

button:hover{
	border: none;
}

        .whatsapp-float {
            position: fixed;
            bottom: 20px;
            right: 20px; 
            z-index: 999; 
        }
        .whatsapp-float img {
            width: 40px; 
            height: auto; 
}