@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
	
}

body container {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f8ff;
}


.logo {
    width: 100px; 
    height: auto;
    cursor: pointer;
}


.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.navbar ul li{
	
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a{
	
	text-decoration: none;
	color: #009688;
	text-transform: uppercase;
}

.container{
	margin: 0 200px;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.container h1 {
    color: #009688; 
    position: absolute; 
    transform: translate(50%, 0%); 
}


.container .tab{
	
	position: relative;
	background: #fff;
	padding: 0 20px 20px;
	box-shadow: 0 15px 25px rgba(0,0,0,0.05);
	border-radius: 5px;
	overflow: hidden;
}


.container .tab input{
	
	appearance: none;
	
}

.container .tab label{

display: flex;
align-items: center;
cursor: pointer;
}


.container .tab label::after{
	
	content: '+';
	position: absolute;
	right: 0px;
	font-size: 2em;
	color: rgba(0,0,0,0.1);
	transition: transform 1s;
	
	
	}
	
	
.container .tab:hover label::after{
color: #333;
}


.container .tab input:checked ~ label::after{
	transform: rotate(135deg);
}


.container .tab label h2{
	width: 40px;
	height: 40px;
	background: #009688;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1.25em;
	border-radius: 5px;
	margin-right: 10px;
}

.container .tab label h3{
	position: relative;
	font-weight: bold;
	color: #333;
	z-index: 10;
}

.container .tab .content h3 {
    font-weight: normal;
}

.container .tab .content{
	max-height: 0;
	transition: 1s;
	overflow: hidden;
}

.container .tab input:checked ~ .content{
	max-height: 100vh;
	
	
}

.container .tab .content p{
	position: relative;
	padding: 10px 0;
	color: #333;
	z-index: 10;
	
}


footer {
  background-color: #009688;
  width: 100%;
  height: 300px; /* Set a fixed height for the footer */
}

.footercontainer {
  width: 100%;
  padding: 70px 30px 20px;
}


.socialicons{
	display: flex;
	justify-content: center;
}

.socialicons a {
  text-decoration: none;
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
}

.socialicons a i{
	
	font-size: 2em;
	color: black;
	opacity: 0.9;
}
.socialicons a:hover{
	background-color: #111;
	transition: 0.5s;
}

.socialicons a i:hover{
	color: #fff;
	transition: 0.5s;
}

.footnav{
	margin: 30px;
}

.footnav ul{
	display: flex;
	justify-content: center;
	list-style-type: none ;
}

.footnav ul li a{
	color: #fff;
	margin: 20px;
	text-decoration: none;
	font-size: 1.3em;
	opacity: 0.7;
	transition: 0.5s;
}

.footnav ul li a:hover{
	
	opacity: 1;
}


.footerbottom{
	background-color: #009688;
	padding: 20px;
	text-align: center;
	
	}
	
.footerbottom p{
	color: #fff;
}

@media(max-width: 700px){
	.footnav ul{
		flex-direction: column;
	}
	.footnav ul li{
		width: 100%;
		text-align: center;
		margin: 10px;
		
	}
}

button:hover span{
	
	width: 100%;
	
}

button:hover{
	border: none;
}

        .whatsapp-float {
            position: fixed;
            bottom: 20px;
            right: 20px; 
            z-index: 999; 
        }
        .whatsapp-float img {
            width: 40px; 
            height: auto; 
            }