<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Careers at [Company Name]</title>
    <link rel="stylesheet" href="careerpage.css">
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="navbar">
        <a href="/">
            <img src="logos.png" class="logo">
        </a>
        
        <ul>
            <li> <a href="/services">Services</a> </li>
            <li> <a href="/faq">Faq</a> </li>
            <li> <a href="/contact">Contact us</a> </li>
            <li> <a href="/career">Join us</a> </li>
        </ul>
    </div>
    
    <br>
    <br>
    <div class="container">
        <h1>Be a Family Member of Just Tech Ways</h1>
        <br>
        <br>
        <h2>Available positions</h2>

                <br>
        <br>
        <div class="tab">
            <input type="checkbox" name="acc" id="acc1">
            <label for="acc1">
                <h3>Developers (Python/Django)<br><br></h3>     
            </label>
            <div class="content">
                <p>
                    <h3>An interesting platform for those who can show their talent in the Django framework. A great chance to be a part of a strong python team.</h3>
                    <span class="details">
                        <ul>
                            <li>Experience in requirement analysis</li>
                            <li>Sound knowledge in Django framework</li>
                            <li>Good hands-on experience in DB design including RDBMS and ORM</li>
                            <li>Familiar with standard testing methodologies</li>
                            <li>Flexible in Agile development methodology</li>
                            <li>Experience in debugging, profiling, and optimization</li>
                            <li>Exposure in information security and standard practices</li>
                            <li><b>Send resumes to hello@justtechways.com</b></li>
                        </ul>
                    </span>

                </p>
            </div>
        </div>

               <div class="tab">
            <input type="checkbox" name="acc" id="acc2">
            <label for="acc2">
                <h3>Pre-sales Executive<br><br></h3>     
            </label>
            <div class="content">
                <p>
                    <h3>We are looking for Pre-sales Executives with minimum 2 years in our London Office.</h3>
                    <span class="details">
                        <ul>
                            <li>Experience in requirement analysis</li>
                            <li>Sound knowledge in Django framework</li>
                            <li>Good hands-on experience in DB design including RDBMS and ORM</li>
                            <li>Familiar with standard testing methodologies</li>
                            <li>Flexible in Agile development methodology</li>
                            <li>Experience in debugging, profiling, and optimization</li>
                            <li>Exposure in information security and standard practices</li>
                            <li><b>Send resumes to hello@justtechways.com</b></li>
                        </ul>
                    </span>

                </p>
            </div>
        </div>

    </div>
</body>
 <br>
        <br> <br>
        <br>

    <div class="benefits">
        <h1>Benefits and Perks</h1>
        <br>
        <br>
        
        <h3>
                        <ul>
                            <li>Competitive salary</li>
                            <li>Health, dental, and vision insurance</li>
                            <li>Flexible work hours</li>
                            <li>Remote work opportunities</li>
                            <li>Paid time off and holidays</li>
                            <li>ExpeRetirement savings plans</li>
                            <li>Employee discounts</li>
                            <li>Wellness programs</li>                            
                        </ul>			
		</h3>

<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>

<footer> <div class="footercontainer">
    <div class="socialicons">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
    </div>
    
    <div class="footnav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/faq">Faq</a></li>
			<li><a href="/contact">Contact us</a></li>
			<li><a href="/career">Career</a></li>
		</ul>
	</div>
    

    
</div>

    <div class="footerbottom">
		<p>Copyright &COPY;2024</p>
		
	</div>
</footer>
        					   <a th:href="@{'https://api.whatsapp.com/send?phone=' + ${phoneNumber}}" class="whatsapp-float" target="_blank">
        <img src="whatsapp.png" alt="WhatsApp">
    </a>


</html>
